<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingboot.basic.dao.boot.mapper.CountryMapper">
    <select id="findAll" resultType="com.kingboot.basic.dao.boot.entity.Country">
        select * from country
    </select>
</mapper>