<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>定时器新增</title>
    <link href="../../static/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" th:href="@{/static/bootstrap/3.3.5/css/bootstrap.min.css}" />
    <link href="../../static/zui/1.8.1/css/zui.min.css" rel="stylesheet" th:href="@{/static/zui/1.8.1/css/zui.min.css}" />
    <script src="//cdn.bootcss.com/zui/1.8.1/lib/jquery/jquery.js"></script>
    <script src="../../static/zui/1.8.1/js/zui.min.js" th:src="@{/static/zui/1.8.1/js/zui.min.js}"></script>
    <link href="http://static.ws.com/images/ico/timer.ico" rel="icon" th:href="@{http://static.ws.com/images/ico/timer.ico}" type="image/x-icon" />
    <link href="http://static.ws.com/images/ico/timer.ico" rel="shortcut icon" th:href="@{http://static.ws.com/images/ico/timer.ico}" type="image/x-icon" />
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- 导航头部 -->
        <div class="navbar-header">
            <!-- 移动设备上的导航切换按钮 -->
            <button class="navbar-toggle" data-target=".navbar-collapse-example" data-toggle="collapse" type="button">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 品牌名称或logo -->
            <a class="navbar-brand" href="/">King Boot Timer</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <span>定时器新增</span>
            <div class="pull-right">
                <a class="btn btn-primary btn-mini" href="/timer/list">返回列表</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="page-content">
                <div class="content pt-20">
                    <form action="/timer/doAddTimer" method="post">
                        <div class="form-group col-md-12 col-xs-12">
                            <label class="control-label col-md-2 col-xs-2" for="name">定时器名称:</label>
                            <div class="col-md-4 col-xs-4">
                                <input class="form-control" data-val="true" data-val-required="请输入定时器名称." id="name" name="name"
                                       placeholder="" type="text" value="">
                            </div>
                            <div class="text-danger clearboth" data-valmsg-for="name"
                                 data-valmsg-replace="true"></div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label class="control-label col-md-2 col-xs-2" for="describe">描述:</label>
                            <div class="col-md-4 col-xs-4">
                                <input class="form-control" data-val="true" data-val-required="请输入定时器描述." id="describe" name="describe"
                                       placeholder="" type="text" value="">
                            </div>
                            <div class="text-danger clearboth" data-valmsg-for="describe"
                                 data-valmsg-replace="true"></div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label class="control-label col-md-2 col-xs-2">topic:</label>
                            <div class="col-md-4 col-xs-4">
                                <select aria-invalid="false" class="form-control valid" id="topic" name="topic">
                                    <option th:each="t,topicsStat:${topics}" th:text="${t.topic}" th:value="${t.topic}"></option>
                                </select>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <a class='data-detail btn btn-info' href='/topic/list'
                                   title='topic列表'>编辑
                                </a>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label class="control-label col-md-2 col-xs-2" for="message">message:</label>
                            <div class="col-md-4 col-xs-4">
                                <input class="form-control" data-val="true" data-val-required="请输入message." id="message" name="message"
                                       placeholder="填日期格式 例如yyyy-MM-dd" type="text" value="">
                            </div>
                            <div class="text-danger clearboth" data-valmsg-for="message"
                                 data-valmsg-replace="true"></div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label class="control-label col-md-2 col-xs-2" for="message">corn:</label>
                            <div class="col-md-4 col-xs-4">
                                <input class="form-control" data-val="true" data-val-required="请输入corn." id="corn" name="corn"
                                       placeholder="填正确的cron表达式 例如*/5 * * * * ?" type="text" value="">
                            </div>
                            <div class="text-danger clearboth" data-valmsg-for="corn"
                                 data-valmsg-replace="true"></div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <label class="control-label col-md-2 col-xs-2">定时器状态:</label>
                            <div class="col-md-2 col-xs-2">
                                <select aria-invalid="false" class="form-control valid" id="status" name="status">
                                    <option value="false">禁用</option>
                                    <option value="true">启用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12 mt-30 mb-20">
                            <label class="control-label col-md-2 col-xs-2">&nbsp;</label>
                            <div class="col-md-4 col-xs-4 ">
                                <button class="btn btn-primary pl-50 pr-50" id="submit" type="submit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>