<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>功能映射</title>
    <link href="../../static/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" th:href="@{/static/bootstrap/3.3.5/css/bootstrap.min.css}" />
    <link href="../../static/zui/1.8.1/css/zui.min.css" rel="stylesheet" th:href="@{/static/zui/1.8.1/css/zui.min.css}" />
    <script src="//cdn.bootcss.com/zui/1.8.1/lib/jquery/jquery.js"></script>
    <script src="../../static/zui/1.8.1/js/zui.min.js" th:src="@{/static/zui/1.8.1/js/zui.min.js}"></script>
    <script src="../../static/layer/3.1.1/layer/layer.js" th:src="@{/static/layer/3.1.1/layer/layer.js}"></script>
    <script src="../../static/kings/1.0.0/ajax.js" th:src="@{/static/kings/1.0.0/ajax.js}"></script>
    
    <link rel="icon" href="http://static.ws.com/images/ico/springboot.ico" th:href="@{http://static.ws.com/images/ico/timer.ico}" type="image/x-icon" />
    <link rel="shortcut icon" href="http://static.ws.com/images/ico/springboot.ico" th:href="@{http://static.ws.com/images/ico/timer.ico}" type="image/x-icon" />
    
    <style>
        .navbar-inverse {
            background-color: #63b175;
            border-color: #63b175;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- 导航头部 -->
        <div class="navbar-header">
            <!-- 移动设备上的导航切换按钮 -->
            <button class="navbar-toggle" data-target=".navbar-collapse-example" data-toggle="collapse" type="button">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 品牌名称或logo -->
            <a class="navbar-brand" href="your/nice/url">King Boot</a>
        </div>
        <!-- 导航项目 -->
        <div class="collapse navbar-collapse navbar-collapse-example">
            <!-- 一般导航项目 -->
            <ul class="nav navbar-nav pull-right">
                <li th:if="${@userEnv.userName() == null}">
                    <a th:href="${@kingEnv.key('basic.login.url')}">登录</a>
                </li>
                <!-- 导航中的下拉菜单 -->
                <li class="dropdown" th:if="${@userEnv.userName() != null}">
                    <a class="dropdown-toggle" data-toggle="dropdown" th:href="'javascript:;'">
                        <span th:text="${@userEnv.userName()}">用户名</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a th:href="${@kingEnv.key('basic.logout.url')}">登出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- END .navbar-collapse -->
    </div>
</nav>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            功能映射
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td>Method</td>
                    <td>功能</td>
                    <td>URL</td>
                </tr>
                <tr th:class="${mappingStat.odd}? 'odd'" th:each="mapping : ${mappings}">
                    <td>
                        <span class="label " th:classappend="${(mapping.method eq 'GET'? 'label-info':'') + (mapping.method eq 'POST' ? 'label-success':'') 
                        + (mapping.method eq 'PUT' ? 'label-warning':'')
                        + (mapping.method eq 'DELETE' ? 'label-danger':'')}" th:text="${mapping.method}">方法</span>
                    </td>
                    <td th:text="${mapping.name}">功能</td>
                    <td>
                        <a target="_blank" th:href="${mapping.url}" th:if="${mapping.method eq 'GET'}" th:text="${mapping.url}">URL</a>
                        <a class="a-ajax" th:data_href="${mapping.url}" th:data_type="${mapping.method}" th:data_params="${mapping.data}" th:if="${mapping.method eq 'POST' or mapping.method eq 'PUT' or mapping.method eq 'DELETE'}" th:text="${mapping.url}">URL</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".a-ajax").click(function () {
            var url = $(this).attr("data_href");
            var data = $(this).attr("data_params");
            var type = $(this).attr("data_type");
            //post(url, $.parseJSON(data));
            ajax({
                url:url,
                data:$.parseJSON(data),
                type:type
            })
            
        })
    })
</script>
</body>
</html>