package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.${moduleName}.entity.${className};

/**
 * <p class="detail">
 * 功能:${comments} Service
 * </p>
 * @author ${author}
 * @ClassName ${className}Service
 * @Version V1.0.
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

}
