<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kingboot.mplus.mapper.UserMapper">

	<resultMap id="userMap" type="com.kingboot.mplus.entity.User">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="createTime" column="create_time"/>
		<result property="version" column="version"/>
		<result column="last_updated_time" property="lastUpdatedTime"/>
		<result column="delete_flag" property="deleteFlag"/>
		<result column="sync_flag" property="syncFlag"/>
		<result column="tenant_id" property="tenantId"/>
	</resultMap>
</mapper>
